.auth__form{
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
  .form__group{
    input{
      outline: none;
      border: none;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }
  .login__btn{
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
  }
  p{
    margin-top: 20px;
    a{
      color: #fff;
      &:hover{
        text-decoration: underline;
        color: aqua;
      }

    }
  }

}