.filter__widget {
  select {
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    option {
      font-size: 0.9rem;
    }
    &:focus{
      outline: none;
    }
  }
}

.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border: 1px solid #999;
  border-radius: 5px;
  &:focus-within {
    border-color: var(--primary-color);
  }
  input {
    flex: 1;
    border: none;
    outline: none;
    padding:0 30px 0 0;
  }
}
